@charset "utf-8";


nav {
	margin: 0px auto 0;
	position: relative;
	width: 640px;
	height: 45px;
	border-radius: 8px solid #c4c6ca;
	font-size: 0;
}
nav a {
	line-height: 50px;
	height: 100%;
	font-size: 15px;
	display: inline-block;
	position: relative;
	z-index: 1;
	text-decoration: none;
	text-transform: uppercase;
	text-align: center;
	color: rgb(252, 252, 252);
	cursor: pointer;
}
nav .animation {
	position: absolute;
	height: 100%;
	top: 0;
	z-index: 0;
	transition: all .5s ease 0s;
	border-radius: 8px;
}
a:nth-child(1) {
	width: 100px;
}
a:nth-child(2) {
	width: 100px;
}
a:nth-child(3) {
	width: 120px;
}
a:nth-child(4) {
	width: 120px;
}
a:nth-child(5) {
	width: 100px;
}
a:nth-child(6) {
	width: 100px;
}

nav .start-home, a:nth-child(1):hover~.animation {
	width: 100px;
	left: 0px;
	background-color: rgba(93, 93, 89, 1);
}
nav .start-about, a:nth-child(2):hover~.animation {
	width: 100px;
	left: 100px;
	background-color: rgba(93, 93, 89, 1);
}
nav .start-blog, a:nth-child(3):hover~.animation {
	width: 120px;
	left: 200px;
	background-color: rgba(93, 93, 89, 1);
}
nav .start-portefolio, a:nth-child(4):hover~.animation {
	width: 120px;
	left: 320px;
	background-color: rgba(93, 93, 89, 1);
}
nav .start-contact, a:nth-child(5):hover~.animation {
	width: 100px;
	left: 440px;
	background-color: rgba(93, 93, 89, 1);
}
nav .start-contact, a:nth-child(6):hover~.animation {
	width: 100px;
	left: 540px;
	background-color: rgba(93, 93, 89, 1);
}

body {
  background: url(https://fondosmil.com/fondo/9846.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
h1 {
	text-align: center;
	margin: 0px 0 0px;
	text-align: center;
	font-size: 50px;
	color: #eae7e7;
	text-shadow: 3px 3px 5px #000000;
	font-family: 'Cherry Swash', cursive;
}
header {

  background-color: #000000;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  box-shadow: 2px 2px 10px #999;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  
}
.logo{
  position: relative;
  margin: auto;
  text-align: center;
  height: auto;
}
form{
  margin: auto;
  width: 43%;
  height: 500px;
  background: rgba(3,3,3,.7);
  overflow: hidden;
}

.btninsu{
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  display: block;
  border-right: 5px solid;
  margin: 10px auto;
  padding: 10px;
  width: 84%;
  border-radius: 20px !important;
  margin-top: 5px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

input{
  width: 40%;
  height: 40px;
  border: none;
  border-left: 5px solid;
  background-color: rgb(83, 83, 83);
  border-color: rgb(181, 181, 181);
  color: #fff;
  margin-top: 10px;
  font-weight: 300;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

h1{
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-weight: 300;
  font-size: 21px;
  color: rgba(255,255,255,.5);
}

input:focus{
  outline: 0;
  background: rgba(181, 181, 181,.2);
  border-radius: 20px;
  border-color: transparent;
}


.form-content {
	text-align: right;
	margin-right: 25%;
}
.labelestil{
	color: rgba(244,244,244,.6);
}